<div class="jumbotron mt-5">
    <h2 class="heading">Filtra noticias por país y categoría</h2>
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <form (ngSubmit)="sendInfo()">
                <div class="form-group">
                    <select [(ngModel)]="categorySelected" name="category" class="form-control">
                        <option *ngFor="let category of categories;" 
                            [value]="category.value">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select [(ngModel)]="countrySelected" name="country" class="form-control">
                        <option *ngFor="let country of countries;"
                            [value]="country.value">
                            {{ country.name }}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Buscar</button>
            </form>
        </div>
    </div>
</div>